body {
  text-align: center;
  background-color: rgb(223, 221, 221);
}

#screen {
  width: 45vw;
  min-height: 40vh;
  display: flex;
  flex-wrap: nowrap;
  margin: auto auto 5vh auto;
  border: 10px solid gray;
  background-color:black;
  color:green;
}

#screen > div {
  width: auto;
  margin: 50px 10px 50px 10px;
  text-align: center;
  line-height: 20px;
  font-family: 'Roboto Mono', monospace;
}
