body {
  text-align: center;
}

#screen {
  width: 45vw;
  min-height: 40vh;
  display: flex;
  flex-wrap: nowrap;
  margin: auto auto 5vh auto;
  border: 1px solid black;
}

#screen > div {
  width: auto;
  margin: 50px 10px 50px 10px;
  text-align: center;
  line-height: 20px;
}
